<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <add key="WSGI_HANDLER" value="main.app" />
        <add key="PYTHONPATH" value="c:\inetpub\wwwroot\bot\" />
    </appSettings>
    <system.webServer>
        <handlers>
            <remove name="FlaskHandler" />
            <add name="FlaskHandler1" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python34\python.exe|C:\Python34\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <urlCompression doStaticCompression="false" />
        <staticContent>
            <mimeMap fileExtension=".py" mimeType="text/html;charset=utf-8" />
        </staticContent>
    </system.webServer>
</configuration>